:root {
  --primary: #72B01D;
  --secondary: #3F7D20;
  --background: #F3EFF5;
  --dark: #0D0A0B;
  background-color: var(--background);
  color: var(--dark);
}
.App {
  background-color: white;
}
nav {
  /*height: 100px;*/
  background-color: var(--secondary);
  margin: 0;
  color: white;
  font-size: 17px;
  padding: 10px;
}

nav a {
  color: white;
}
nav span {
  padding: 5px;
}

.card {
  /*margin: 20px;*/
}

.mainContainer {
  /*background-color: white;*/
  padding: 10px 40px 40px 40px;
}

.menu {
  padding: 20px;
}

.back {
  margin: 0 10px 0 10px;
}

.play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid gray;
  margin: 10px;
  /*padding: 20px;*/;
  width: 60px;
  height: 60px;
}

.artist-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer{
  position: fixed;
  bottom: 0;
}
